@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&family=Young+Serif&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", "Young Serif", sans-serif;
  background-color: #f8f8f8;
}

.container {
  max-width: 85%;
  margin: auto;
}

.flexSB {
  display: flex;
  justify-content: space-between;
}
